// base
@import "./styles/base/normalaize";
@import "./styles/base/fonts.scss";
@import "./styles/base/base.scss";
// helpers
@import "./styles/helpers/constants.scss";
// components
@import "./styles/components/buttons.scss";
@import "./styles/components/catalogCard.scss";
@import "./styles/components/counter.scss";
//loyouts
@import "./styles/layouts/header.scss";
@import "./styles/layouts/modal.scss";
@import "./styles/layouts/sectionsCart.scss";

h2 {
  font-size: 48px;
  font-weight: 300;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.catalog-container {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
