$color-text: #212529;
$color-text-light: #474747;
$color-orange: #fe9013;
$color-red: red;
$background-color: #f8f9f9;

$box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
$border: 1px solid rgba(0, 0, 0, 0.125);
