button {
  cursor: pointer;
}
.btn {
  width: 100%;
  color: $color-orange;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid $color-orange;
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  &:hover {
    color: white;
    background-color: $color-orange;
  }
}
.btn-link {
  font-size: 1.6rem;
  color: $color-orange;
  border: unset;
  background: unset;
  border-bottom: 1px solid $color-orange;
  &:hover {
    color: $color-text;
    border-bottom: 1px solid $color-text;
  }
}
.btn-remove {
  background: none;
  border: none;
  transition: transform 0.2s linear;
  &:hover {
    transform: scale(1.05);
  }
}
