.header {
  padding: 1rem 0;
}
h1 {
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
}
.lead-text {
  font-size: 20px;
  font-weight: 300;
  color: $color-orange;
}
