.card {
  & h4 {
    margin-bottom: 0.75rem;
  }
}
.form__text-block {
  margin-bottom: 3.5rem;
}
// label
label,
legend,
::placeholder {
  text-align: start;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $color-text-light;
  opacity: 0.7;
}
::placeholder {
  font-size: 1.6rem;
}
// inputs
input[type="text"],
input[type="date"] {
  height: 40px;
  margin-bottom: 10px;
  width: 100%;
  border: $border;
  border-radius: 2px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 2rem;
  line-height: 140%;
  padding: 9px 17px 9px 16px;
  color: $color-text;
  &:hover {
    border: 1px solid $color-orange;
  }
  &:focus {
    outline: none;
    border: 2px auto $color-orange;
    box-shadow: $box-shadow;
    color: $color-text;
    &:required {
      border: 1px solid $color-orange;
      &.invalid {
        border: 1px solid red;
      }
    }
    &:required:valid {
      border: 1px solid green;
    }
  }
  &.invalid {
    border: 1px solid red;
  }
}
fieldset {
  display: flex;
  align-items: flex-start;
  border: $border;
  border-radius: 2px;
  & label {
    margin-right: 35px;
    line-height: 27px;
    font-family: "Roboto", Arial, sans-serif;
    color: $color-text;
    font-size: 1.8rem;
    line-height: 140%;
  }
  margin-bottom: 1rem;
}
input[type="radio"] {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 1rem;
  position: relative;
  top: 2px;
  &:checked {
    border: 4px solid $color-orange;
  }
}
.checkbox-wrapper {
  display: flex;
  flex-direction: column;
  & div {
    margin-bottom: 1rem;
  }
}
input[type="checkbox"] {
  margin-right: 1rem;
}

// error message
.error-message {
  display: block;
  color: $color-red;
  font-size: 12px;
  margin-bottom: 5px;
  &.none {
    display: none;
  }
}
// buttons
.form__button-type {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  & .btn {
    cursor: pointer;
    width: 180px;
    margin-bottom: 1.5rem;
    &:disabled {
      color: $color-text-light;
      background-color: $background-color;
      border: $border;
      pointer-events: none;
    }
  }

  & .btn:first-child {
    margin-right: 1rem;
  }
}

footer {
  height: 20rem;
}
